/*  JavaScript 7th Edition
    Project Phone Bill Calculator With Header and Footer

    Filename: styles.css
*/


/* --------------------------------------------------------------*/
/* Styles for body section */
/* --------------------------------------------------------------*/
body {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* --------------------------------------------------------------*/
/* Styles for the Header */
/* --------------------------------------------------------------*/

h1, h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #606470;
}

/* --------------------------------------------------------------*/
/* Styles for the NavBar */
/* --------------------------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606470;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* --------------------------------------------------------------*/
/* Styles for the Footer */
/* --------------------------------------------------------------*/

footer {
    font-size: 0.65em;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex: 1;
}

